openai==1.14.2
streamlit==1.32.2 
mailtrap==2.0.1
google-api-core==2.18.0
google-api-python-client==2.124.0
google-auth==2.26.2
google-auth-httplib2== 0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.62.0
